@import url('https://fonts.googleapis.com/css2?family=Lato&family=Merriweather:wght@700&family=Open+Sans:wght@300;400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body{
    background-color: #efefef;
}

/* define o padrão de tela */

.container {
    margin: auto;
}

/* Parte responsável pelo cabeçalho da page */

#cabecalho {
    background-color: #ba67c8;
    padding-bottom: 38px;
}

.logo-header {
    padding-top: 28px;
}




/* Parte responsável pelo titulo da pagina */
#principal h1 {
    color: #5D3364;
    font-size: 36px;
    font-family: 'Merriweather', serif;
    margin-top: 40px;
    margin-bottom: 10px;
}
#principal p {
    margin-top: 10px;
}

/* Parte responsável pela lista de Produtos da page */

.lista-produtos {
    margin-bottom: 100px;
}
.lista-produtos h2{
    font-family: 'Merriweather', serif;
    margin-top: 40px;
    margin-bottom: 15px;
    font-size: 24px;
    color: #3C4E58;
}

.lista-produtos h3{
    font-family: 'Merriweather', serif;
    font-size: 21px;
    margin-top: 15px;
    color: #3C4E58;
}



.lista-produtos ul li {
    /* margin: auto; */
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    /* border: black solid 3px; */
}

.lista-produtos a {
    margin: auto;
    color: white;
    background-color: #ba67c8;
    border-radius: 2px;
    padding: 10px;
    margin-bottom: 10px;
}

.alinhar-card {
    margin-top: 10px;
    padding: 15px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


/* Parte responsável pelo quem somos */

#quem-somos{
    margin: auto;
    text-align: center;
}

.desc-quem-somos{
    /* background-color: red; */
}

/* Começo do footer */

#rodape{
    margin-top: 80px;
    background-color:#5D3364;
    
}


@media  (max-width: 300px) {
    .container{
        max-width: 280px;
        margin: auto;
    }
    img{
        width: 80%;
        height: 80%;
    }
    .quem-somos-img img{
        width: 100%;
        height: 100%;
    }
}
